body{
    font-family:'Gumela';
    background:linear-gradient(90deg, rgba(255, 254, 254, 1) 0%, rgb(175, 231, 255) 100%);
}

.factorial-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 3rem;
}

.factorial{
    display: flex;
    gap: 1rem;
}

#fact-input{
    width: 20rem;
    height: 2rem;
    padding: 0.3em;
    outline: none;
    border: 2px solid rgb(61, 58, 58);
    border-radius: 8px;
    font-size: 16px;   
}

.factorial-result{
    display: flex;
    justify-content: center;
    margin: 3rem;
    font-size: 2rem;
    font-weight: bold;
    gap: 1.5rem;
}

#result{
    font-size: 2rem;
    line-height: 2rem;
}

.button{
    font-family:'Gumela';
    background: #1f86fc;
    color: white;
    font-size: 20px;
    border-radius: 5px;
    padding: 5px 10px;
}
.button:hover{
    cursor: pointer;
    color: #1f86fc;
    background: white;
    border: 1px solid rgb(61, 58, 58);
}
